@model Demo_ASPNET_MVC.Models.Employee

<div class="form-group">
    <label asp-for="EmployeeCode" class="control-label">Employee Code</label>
    <input asp-for="EmployeeCode" class="form-control" />
</div>


